.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}
.modal__content {
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    width: 746px;
    height: 448px;
    transform: scale(0.5);
    transition: 0.4s all;
}
.modal__content.active {
    transform: scale(1);
}
.modal_text {
    justify-content: center;
    text-align: center;
}
.modal_text p {
    margin-top: 45px;
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #746D6D;
}
.btn_modal {
    width: 314px;
    height: 57px;
    background: #FDDB16;
    border-radius: 16px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: black;
    /* margin-top: 30px; */
}
.modal_btn {
    justify-content: center;
    display: flex;
}