.firstSection {
    height: 460px;
    background: rgba(227, 227, 227, 0.56);
}
.page {
    margin-bottom: 129px;
    padding: 0px 15px;
}
@media (max-width: 1500px) {
    .page {
        width: 1200px;
    }
}
@media (max-width: 1250px) {
    .page {
        width: 850px;
    }
}
@media (width: 862px) {
    .page {
        width: none;
    }
}

.hm_content {
    max-width: 490px;
}
.hm_content h1 {
    font-weight: 700;
    font-size: 96px;
    color: #070D3F;
}
.hm_content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #555252;

}
.btn-hm {
    /* width: 230px; */
    height: 60px;
    background: #FDDB16;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    color: black;
    margin-top: 30px;
}
.firstSection {
    background: url('./foto/hw2.svg') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
}
@media (max-width: 1250px) {
    .firstSection {
        max-width: 850px;
    }
}
.src_home {
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.second_section {
    margin-top: 40px;
}
.containerSecond_section {
    display: flex;
}
@media (max-width: 1500px) {
    .containerSecond_section {
        max-width: 1250px;
    }
}
@media (max-width: 910px) {
    .containerSecond_section {
        max-width: 500px;
    }
}
@media (max-width: 510px) {
    .containerSecond_section {
        max-width: 320px;
    }
}
.second_section .wrapper_recomen .recomendations {
        margin-top: 20px;
}
.wrapper_recomen {
    display: flex;
}
@media (max-width: 900px) {
    .wrapper_recomen {
        display: block;
    }
}

.recommendations {
    margin-right: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-width: 230px;
    height: 122px;
    background: white;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding-right: 12px;
}
.rec_name {
    color: #847E7E;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.price {
    color:#FDDB16;
    text-align: end;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;

}

.recomendations span {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #847E7E;
}

.title {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.mini-dot {
    background: #FDDB16;
    /* width: 10px; */
    height: 10px;
    margin-bottom: 8px;
    margin-left: 5px;
}

.price_sale {
    color: #FDDB16;
    font-weight: bold;
}

.text {
    text-align: center;
    color: #847E7E;
}

.text h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.05em;

}

.vector {
    justify-content: center;
}

.btn.btn-yellow {
    background-color: #FDDB16;
}
.btn-yellow:hover {
    background-color: cyan;
    transition-duration: 1s;
}
.btn_violet:hover {
    background-color: cyan;
    transition-duration: 1s;
    cursor: pointer;
}

.vector {
    display: contents;
    align-items: end;
}

.slider_1 {
    padding-bottom: 58px;
}


.test {
    margin-bottom: 12px;
}
.price_sale {
    font-weight: 700;
    font-size: 14px;
    color: #FDDB16;
    float: right;
}
.price_cap {
    color: #FDDB16;
    font-weight: bold;
}



.third_section {
    margin-top: 40px;
    background: linear-gradient(93.98deg, #FDDB16 0.21%, #FFB800 100%);
    height:529px;
}

.recom {
    margin-right: 66px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    /* width: 230px; */
    height: 122px;
    background: white;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding-right: 12px;
    padding-left: 10px ;
    margin-top: 40px;
   }

.des {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #847E7E;
}

.right_content_fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title_fourth h1 {
    color: white;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
}
.title_fourth span {
    color: white;
    font-weight: 400;
    font-size: 36px;
}
.tree {
    position: absolute;
    margin-top: 147px;
    right: 20px;
}
@media (max-width: 1500px) {
    .tree   {
        max-width: 650px;
    }
}
@media (max-width: 1200px) {
    .tree {
        max-width: 550px;
    }
}
.btn_home_third {
    z-index: 1;
    /* width: 230px; */
    height: 60px;
    background: #670098;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    color: white;
    margin-top: 30px;
}
.third {
    display: flex;
}
.containerHomePage {
    display: flex;
}
.fourth_section {
    margin-top: 144px;
}
@media (max-width: 1500px) {
    .fourth_section{
        max-width: 1250px;
    }
}
@media (max-width: 910px) {
    .fourth_section {
        max-width: 500px;
    }
}
@media (max-width: 510px) {
    .fourth_section {
        max-width: 320px;
    }
}

.result {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}
.sales {
    display: flex;
    align-items: center;
}
.sales div {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FDDB16;
}
.sales p {
    font-weight: 400;
    font-size: 24px;
    margin-left: 10px;
}
.diagonal {
    position: absolute;
    left: -3px;
    top: 191px;
}
.content_text h1 {
    font-size: 96px;
    margin-left: 126px;
    color: #070D3F;
}

.dot {
    /* width: 15px; */
    height: 15px;
    background: #FDDB16;
    margin-left: 418px;
    margin-top: -40px;
}
.description {
    margin-top: 25px;
    margin-bottom: 30px;
    max-width: 420px;
    color: #555252;
    margin-left: 133px;
    font-size: 18px;

}
.btn-yellow {
    position: absolute;
    left: 133px;
    background: #FDDB16;
    border-radius: 20px;

}
.back {
    position: absolute;
    right: 0;
    top: 233px;
}
.red {
    position: absolute;
    right: 70px;
    margin-top: 184px;
}
.ellipse_white {
    position: absolute;
    right: 95px;
    margin-top: 186px;
}
.side {
    position: absolute;
    right: 261px;
    top: 171px;
}
.recommendations_block {
    display: flex;
    margin-left: 136px;
    margin-top: 40px;

}

.recommendations {
    /* width: 233px; */
    height: 123px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.informationOfCap{
    margin-left: 21px;
    color: #555252;
    font-size: 18px;
}

.mini {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.mini_info {
    color: #847E7E;
}
.mini_info p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}
.mini_info span {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}


.swiper {
    justify-content: center;
    display: flex;
}
@media (max-width: 900px) {
    .swiper {
        display: flex;
    }
}
@media (max-width: 1500px) {
    .swiper {
        max-width: 1240px;
    }
}
@media (max-width: 1250px) {
    .swiper {
        max-width: 850px;
    }
}
@media (max-width: 860px) {
    .swiper {
        max-width: 650px;
    }
}

.slider {

    justify-content: center;
    align-items: center;
}


.arrow {
    margin-top: 105px;
}

.Photos {
    justify-content: space-around;
    width: 100%;
    display: flex;

}

.brands {
    display: flex;
    justify-content: center;
}

.price_sale {
    color: #FDDB16;
    font-weight: bold;
}

.title h1 {
    text-align: center;
}


.text {
    text-align: center;
    color: #847E7E;
}

.text h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.05em;

}

.vector {
    justify-content: center;
}

.btn.btn-yellow {
    background-color: #FDDB16;
}

.vector {
    display: contents;
    align-items: end;
}

.mini_dot {
    width: 10px;
    height: 10px;
    background: #FDDB16;
    margin-left: 980px;
    margin-top: -17px;
}

.slider_1 {
    padding-bottom: 58px;
}


.test {
    margin-bottom: 12px;
}
.price_cap {
    text-align: center;
    color: #FDDB16;
    font-weight: bold;
}

.wrapper3 {
    height: 529px;
    background: linear-gradient(93.98deg, #FDDB16 0.21%, #FFB800 100%);
}
.block {
    margin-left: 136px;
    padding-top: 40px;
}
.content {
    display: flex;
}
.mini_block {
    width: 233px;
    height: 123px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 40px;
    margin-right: 66px;
}
.recommendation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.name_cap {
    color: #847E7E;
}
.recommendation p {
    font-size: 10px;
    color: #847E7E;
}
.priceCap {
    left: 21px;
    padding-top: 12px;
    color: #FDDB16;
}
.middle_content {
    margin-top: 96px;
}
.collaboration {
    margin-left: 66px;
}
.collaboration h1 {
    font-size: 36px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.collaboration p {
    font-size: 36px;
    color: #FFFFFF;
}
.btn_violet {
    width: 230px;
    height: 60px;
    border: none;
    background: #670098;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}
.big_img1 {
    position: absolute;
    margin-top: -168px;
    right: 10px;
}
.cap_photo {
    margin-top: 10px;
}
.ellipse_violet {
    position: absolute;
    margin-top: -73px;
    right: 128px;
    background-color: #4A0E67;
    border-radius: 60px;

}



.wrapper4 {
    margin-top: 144px;
    margin-left: 135px;
    margin-right: 135px;
}
.name_number {
    font-size: 30px;
    font-weight: 700;
}
.result {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1500px) {
    .result {
        max-width: 1240px;
    }
}
@media (max-width: 1250px) {
    .result {
        max-width: 850px;
    }
}
@media (max-width: 400px) {
    .result {
        max-width: 400px;
    }
}

.numbers-item h1 {
    display: contents;
    font-weight: 700;   
    color: #FDDB16;
}