@media (max-width: 1000px) {
    .Card-Items ul {
        display: none;
    }
}
.Card-list {
    flex-wrap: wrap;
    display: flex;
    margin-top: 100px;

}
.Baner {
    background: url('./photo/baner.png') no-repeat;
    background-size: cover;
    height: 461px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 0 15px;
}
@media (max-width: 1500px) {
    .Baner {
        max-width: 1500px;
    }
}
@media (max-width: 1250px) {
    .Baner {
        max-width: 850px;
    }
}
@media (max-width: 862px) {
    .Baner {
        max-width: none;
    }
}
.text_laren {
    margin-left: 129px;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    color: #FFFEFA;
}

.Card {
    margin-top: 50px;
    margin-left: 30px;
    background: #F3F2F2;
    width: 270px;
    border-radius: 25px;
    border: 1px solid rgba(196, 196, 196, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Cap_price h4{
    color: #FDDB16

}
.Info_Card {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
    background: #FFFFFF;
    width: 270px;
    height: 84px;
    border-radius: 25px;
    border: 1px solid rgba(196, 196, 196, 0.4);

}

.switches {
    display: flex;
    justify-content: center;
    margin: 80px;
    height: 100px;
    color: black;
}



.switches a {
    margin-left: 70px ;
    color: black;
    text-decoration: none;
}
.switches-logo {
    font-size: 23px;
    margin-left: 34px;
}

.cursor_right {
    padding-left: 70px;
    padding-top: 3px;
}

.Card-description h4{
    weight: 700px;
    Size:14px;
    color: #847E7E;
}
.Card-description p{
    weight: 221px;
    Size:13px;
    color: #847E7E;
}
.Card-description p {
    font-size: 13px;
}
.Card-description h4 {
    font-size: 18px;
}

.Card-img {
    padding: 10px;
}
.Card:hover {
     box-shadow: 0 14px 30px rgba(0,0,0,0.15) ;
     transition: 0.2s ease-in-out, transform 0.2s ease-in-out;
     cursor: pointer;
     transform: translateY(-5px);
}
.vector__up {
    display: flex;
    justify-content: right;
    margin: 50px;
}

.drawer{
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-left: 931px;
    display: flex;
    background: white;
    position: absolute;


}
.cartItem{

    border: 1px solid #C4C4C4;
    background: #FFFFFF;
    display: flex;
    border-radius: 15px;

}
.cartItem ul {
    list-style-type: none;

}


.text li{

     color: #000000;
     line-height: 40px;
     text-align: left;

}
.vector img{
     width: 24px;
     height: 12px;
     margin: 10px;
}

.text {
    margin: 20px;
    text-align: left;

}

.ul {
 margin: 0 auto;
         margin-left: 20px;
 }

.text li:hover {
     transition: 0.2s ease-in-out, transform 0.2s ease-in-out;
     cursor: pointer;
     transform: translateY(-5px);

}
.vector img:hover {
     box-shadow: 0 14px 30px rgba(0,0,0,0.15) ;
     transition: 0.2s ease-in-out, transform 0.2s ease-in-out;
     cursor: pointer;
     transform: translateY(-5px);
 }

