ul li {
    display: inline-block;
}
a {
    display: flex;
    /* align-items: center; */
}
@media (max-width: 990px) {
    ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
    }
}
