.MobileNavigation {
    display: none;
}
@media (max-width: 990px) {
    .MobileNavigation {
        display: flex;
    }
    .MobileNavigation .Hamburger {
        position: absolute;
        right: 5%;
        cursor: pointer;
    }
}