.Footer {
    margin: 28px;
    border-top: solid #EEEEEE;
}
@media (max-width: 1500px) {
    .Footer {
        max-width: 1200px;
    }
}
@media (max-width: 1250px) {
    .Footer {
        max-width: 850px;
    }
}
@media (max-width: 862px) {
    .Footer {
        max-width: none;
    }
}

.Footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
.Footer-section {
    display: flex;
    align-items: center;
}

.logo-footer {
    align-items: center;
    display: flex;
}

.caption {
    margin-left: 8px;
}
.logo-footer p {
    font-size: 14px;
}
.logo-brand {
    display: flex;
}
.logo {
    width: 35px;
    height: 35px;
    border: 1.5px solid #0A142F ;
    border-radius: 50%;
    background: white;


}
.logo.linkedin {
    background: url('../../photo/logo-LinkedIn.svg') no-repeat center;
    z-index: 10000000;
}

.logo.facebook{
    background: url('../../photo/logo-facebook.svg') no-repeat center;
}

.logo.twitter{
    background: url('../../photo/logo-twitter.svg') no-repeat center;
}
.logo:hover {
    background-color: #FDDB16;
}
.cursive {
    text-align: center;
}




