.swiper{
    display: flex;
    position: relative;
}
@media (max-width: 1500px) {
    .swiper {
        width: 1200px;
    }
}
@meda (max-width: 1200px) {
    .swiper {
        width: 800px
    }
}

.swiper-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-left, .arrow-right{
    width: 30px;
    height: auto;
}
@meda (max-width: 420px) {
    .arrow-left, .arrow-right {
        max-width: none;
    }
}
.arrow-right{
    transform: rotate(180deg);
}

.swiper-button-lock {
    display: block;
}