@media (max-width: 1000px) {
    .container {
        margin: 0 auto;
        width: 1000px;
    }
    .swiper {
        justify-content: center;
        display: flex;
        align-items: center;
    }
}    
@media (max-width: 768px) {
    .sale .btn_test .btn {
        border: none;
        cursor: pointer;
        min-width: 172px;
        height: 70px;
        border-radius: 15px;
        background: #FDDB16;
        font-size: 18px;
        color: #000000;
    }
    
}    
@media (max-width: 480px) {
    .sale .btn_test .btn {
        border: none;
        cursor: pointer;
        min-width: 172px;
        height: 70px;
        border-radius: 15px;
        background: #FDDB16;
        font-size: 18px;
        color: #000000;
    }
}    
@media (max-width: 320px) {
    .container {
        margin: 0 auto;
        width: 1000px;
    }
    .wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
    .sale .btn_test .btn {
        border: none;
        cursor: pointer;
        min-width: 141px;
        height: 70px;
        border-radius: 15px;
        background: #FDDB16;
        font-size: 18px;
        color: #000000;
    }
    .left_content .big_img {
        width: 363px;
        height: 237px;
        background-size: cover;

    }
    .big_capp {
        width: 312px;
        height: 200px;
    } 
    .right_content .sale {
        margin-top: 0px;
    }
    .left_content .down_img .small_img {
        height: 70px;
        width: 121px;
    }
    .left_content .down_img .small_img .small_img_basket {
        width: 81px;
        height: 70px;
    }
}   
.li a {
    display: flex;
    align-items: center;
}
.details_cap {
    justify-content: space-between;
    display: flex;
    margin-top: 50px;
}
.left_content {
    max-width: 570px;
}
.big_img {
    width: 570px;
    height: 441px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small_img {
    width: 170px;
    height: 131px;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small_img:hover {
     box-shadow: 0 14px 30px rgba(0,0,0,0.15) ;
     transition: 0.2s ease-in-out, transform 0.2s ease-in-out;
     cursor: pointer;
     transform: translateY(-5px);
}
.down_img {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.right_content {
    font-weight: 500;
}
.name_cap {
    float: right;
    line-height: 29.26px;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 29px;
    font-size: 20px;
    color: #000000;
}
.name_cap p {
    font-weight: 700;
}

.size {
    text-align: center;
    display: flex;
    margin-top: 102px;
    margin-left: 30px;
}
.adapter {
    justify-content: center;
    display: flex;
    font-size: 25px;
    width: 70px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 10px;
    color: #847E7E;
    margin-left: 30px;
    border: 1px solid #C4C4C4;
}
.adapter:hover {
     box-shadow: 0 14px 30px rgba(0,0,0,0.15) ;
     transition: 0.2s ease-in-out, transform 0.2s ease-in-out;
     cursor: pointer;
     transform: translateY(-5px);
}
.adapter.adapter-active {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    border: 3px solid #000000;
}
.counter {
    display: flex;
    width: 119px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #847E7E;
    border-radius: 10px;
    font-size: 24px;
    color: #847E7E;
    justify-content: space-around;
    padding-top: 8px;
    margin-left: 60px;
    margin-top: 60px;
}
.black {
    color: black;

}
.btn_none {
    background-color: white;
    border: none;
    font-size: 24px;
}


.sale {
    color: #FDDB16;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.price_right_sale {
    font-size: 36px;
}
.btn_test {
    margin-top: 38px;
}
.btn {
    border: none;
    cursor: pointer;
    width: 270px;
    height: 70px;
    border-radius: 15px;
    background: #FDDB16;
    font-size: 18px;
    color: #000000;
}
.btn:hover {
     box-shadow: 0 14px 30px rgba(0,0,0,0.15) ;
     transition: 0.2s ease-in-out, transform 0.2s ease-in-out;
     cursor: pointer;
     transform: translateY(-5px);
}
btn.add {
    background-color: #40c0f0;
    width: 1.5rem;
}
.btn.remove {
    background-color: #f04040;
    width: 1.5rem;
}
btn.badge {
    background-color: #f04040;
    border: none;
    color: #FFFFFF;
    width: 1.5rem;
}
.second_block {
    margin-top: 80px;
}
.similar-items {
    margin-top: 80px;
    justify-content: center;
    display: flex;
}
.box-brand {
    justify-content: center;
}
.swiper {
    display: flex;
    justify-content: center;
    margin-top: 109px;
}
.arrow {
    margin-top: 105px;
}
.Photos {
    justify-content: space-around;
    width: 100%;
    display: flex;
    text-align: center;
}
.name-cap {

    color: #847E7E;
    font-size: 24px;
}
.brands {
    display: flex;
    justify-content: center;
}
.price {
    font-weight: 700;
    font-size: 18px;
    color: #FDDB16;
}
.name-cap p {
    font-size: 14px;
}
.btn_btn {
    background-color: #FDDB16;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    margin: auto;
    margin-top: 52px;
    font-size: 24px;
    font-weight: 600;
    color: #847E7E;
    width: 442px;
    height: 69px;
}